#Footer {
  position: absolute;

  top: 2500px;
  width: 100%;

  height: 400px;
  background: #152a31;
  display: flex;
  /* justify-content: space-between; */
  /* align-items: center; */
  padding: 20px;
}

.left-section {
  width: 30%;
  background: black;
  padding: 20px;
}
.flex-col {
  display: flex;
  flex-direction: column;
}
.right-section {
  width: 70%;
  color: white;
  margin-left: 50px;
  padding-top: 80px;
}

.button-group {
  display: flex;
  gap: 20px;
  margin-bottom: 10px;
}

.business-related-button,
.driver-related-button {
  height: 50px;
}
